@import 'utils/utils', 'utils/config', 'project/config', 'project/_container';

body {
   background-color: #fff;
   width: 100vw;
   height: 100vh;
 
   @include flex-layout;

   font-family: 'Lato', sans-serif;

   .container {
	  @include container;
   }
}
