@import 'utils/config';

$border-color: #e3e5e4;
$background-color: #c3c7ca;
$text-color: #34444f;

body {
   background-color: #fff;
 
   display: flex;
   align-items: center;
   justify-content: center;

   font-family: 'Lato', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;

   .container {
	  width: 50vw;
	  height: 50vh;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  background-color: $background-color;

	  .draggable-bkg {
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 border: 1px solid $border-color;                                                                             
		 background-color: lighten($background-color, 30%);
		 color: $text-color;
		 width: 100px;
		 height: 100px;
		 margin-left: 20px;

		 div {
			background-color: darken($background-color, 10%);
			width: 50px;
			height: 50px;
			&.draggable {
			   cursor: pointer;
			}
		 }
	  }
	  .droppable-target {
		 display: flex;
		 align-items: center;
		 justify-content: center;
		 width: 100px;
		 height: 100px;
		 margin-right: 20px;
		 background-color: lighten($background-color, 30%);
		 div {
			background-color: darken($background-color, 10%);
			width: 50px;
			height: 50px;
			&.over {
			   background-color: darken($background-color, 25%);
			}
		 }
	  }
   }
}
